  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">GE Campus Sites</h1>
        <div class="row center">
          <h5 class="header col s12 teal-text text-lighten-2">Add a new event!</h5>
        </div>
        {{!-- <div class="row center">
          <a href="http:/www.heroku.com/campsuSites" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Add Event</a>
        </div> --}}
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="../assets/js/background4.jpg" alt="Unsplashed background img 1"></div>
  </div>


 <div class="container">
    <div class="section">
  <!--   Icon Section   -->
      {{!-- <div class="row"> --}}
 <div class="col s12 m4">
          <div class="icon-block">
     

            <p class="light">
              
  <ul>

  {{!-- {{#each event}} --}}

<form action="/api/events/" method="POST">
    <div class="input-field col s6"> <label for="campus">Campus</label><input type="text" id="campus" name="campus"></div>
   <div class="input-field col s6"> <label for="title">Title</label><input type="text" id="title" name="title">
   <div class="input-field col s6"> <label for="date">Date</label><input type="text" id="date" name="date">
   <div class="input-field col s6"> <label for="start_time">Start Time</label><input type="text" id="start_time" name="start_time">
   <div class="input-field col s6"> <label for="end_time">End Time</label><input type="text" id="end_time" name="end_time">
   <div class="input-field col s6"> <label for="type">Type</label><input type="text" id="type" name="type">
 <input type="radio" name="future" value="1"  checked> 
 

 
 {{!-- <p>
      <label>
        <input name="group1" type="radio" checked />
        <span>Red</span>
      </label>
    </p>
    <p>
      <label>
        <input name="group1" type="radio" />
        <span>Yellow</span>
      </label>
    </p> --}}
 <button type="submit" class="btn waves-effect waves-light">Add Event</button>
</form>

<div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">home</i></h2>
           <h5 class="center"><a href="/"> Back to Home</a></h5>


</div>
<h4></h4>


  {{!-- {{/each}} --}}



</ul></p>
          </div>
        </div>
      </div>



      

<footer class="page-footer   light-blue darken-4">
    <div class="container">
 
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-4" href="http://materializecss.com">Materialize</a> and <font color="black">console.log Life.</font>
      </div>
    </div>
  </footer>